@use "../utilities/utilities-dir";

.banner {
  @include utilities-dir.border-theme(#000);
  padding: utilities-dir.pixels-to-rem(5px);
  grid-area: banner;

  @include utilities-dir.themes() {
    color: utilities-dir.get-theme(text-color);
    background-color: utilities-dir.get-theme(warning-color);
  }
}