@use "../utilities/utilities-dir";


#create-form-container {
  @include utilities-dir.themes() {
    color: utilities-dir.get-theme(text-color);
    background-color: utilities-dir.get-theme(fourth-color);
  }

  @include utilities-dir.border-theme(#000);
  grid-area: form;

  @include utilities-dir.tablet-landscape-size {
    min-height: 80vh;
  }
}

form {
  position: sticky;
  top: utilities-dir.pixels-to-rem(43px);

  display: grid;
  grid-auto-rows: max-content;
  gap: 5px;
  padding: utilities-dir.pixels-to-rem(5px);

  #create-form-container & {
    padding-bottom: 0px;
  }



  input,
  textarea,
  select,
  [type="submit"] {
    @include utilities-dir.border-theme(#000);
    padding: utilities-dir.pixels-to-rem(5px);
    font-size: unset;
    font-size: utilities-dir.pixels-to-rem(18px);
  }

  textarea {
    min-height: 30vh;
    resize: vertical;
  }

  [type="submit"] {
    cursor: pointer;

    @include utilities-dir.themes() {
      color: utilities-dir.get-theme(text-color);
      background-color: utilities-dir.get-theme(action-color);
      box-shadow: 0px -1px 5px darken(utilities-dir.get-theme(action-color), 20%) inset;

      &:hover {
        background-color: darken(utilities-dir.get-theme(action-color), 4%);
      }
    }
  }

  label {
    display: none;
  }
}