@use "../utilities/utilities-dir";


#create-form-container {
  @include utilities-dir.themes() {
    color: utilities-dir.get-theme(text-color);
    background-color: utilities-dir.get-theme(fourth-color);
  }

  @include utilities-dir.border-theme(#000);
  grid-area: form;

  @include utilities-dir.tablet-landscape-size {
    min-height: 80vh;
  }
}

form {
  position: sticky;
  top: utilities-dir.pixels-to-rem(44px);

  display: grid;
  grid-auto-rows: max-content;
  gap: 5px;
  padding: utilities-dir.pixels-to-rem(5px);

  #create-form-container & {
    padding-bottom: 0px;
  }



  input,
  textarea,
  select,
  [type="submit"],
  input[type="search"],
  //input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    /*
    border: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    */

    /* Remove default */
    -webkit-appearance: none;

    border: unset;
    -webkit-border-border: unset;
    border-radius: unset;
    -webkit-border-radius: unset;

    @include utilities-dir.border-theme(#000);
    padding: utilities-dir.pixels-to-rem(5px);
    font-size: utilities-dir.pixels-to-rem(18px);
    background-color: #fff;
  }

  textarea {
    min-height: 30vh;
    resize: vertical;
  }

  [type="submit"] {
    cursor: pointer;
    text-align: center;

    @include utilities-dir.themes() {
      color: utilities-dir.get-theme(text-color);
      background-color: utilities-dir.get-theme(action-color);
      box-shadow: 0px -1px 5px darken(utilities-dir.get-theme(action-color), 20%) inset;

      &:hover {
        background-color: darken(utilities-dir.get-theme(action-color), 4%);
      }
    }
  }

  label {
    display: none;
  }
}