@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;

#result-area {
  grid-area: results;

  @include themes() {
    background-color: darken(get-theme(fourth-color), 10%);
  }

  @include border-theme(#000);

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0px pixels-to-rem(5px) pixels-to-rem(5px) pixels-to-rem(5px);
    flex-direction: column;

    @include tablet-portrait-size {
      flex-direction: row;
    }

    @include tablet-landscape-size {
      flex-direction: column;
    }

    @include laptop-size {
      flex-direction: row;

    }

    @include desktop-size {
      flex-direction: row;
    }
  }

  li {
    flex: 1 1 40%;

    @include desktop-size {
      flex: 1 1 30%;
    }

    list-style: none;
    padding: pixels-to-rem(5px);

    @include themes() {
      color: get-theme(text-color);
      background-color: get-theme(third-color);
    }

    @include border-theme(#000);

    box-shadow: 0px 1px 2px rgb(13, 19, 61);

    grid-area: results;
  }
}