@use "../utilities/utilities-dir";

#result-area {
  grid-area: results;


  form {
    padding: utilities-dir.pixels-to-rem(5px);
    border-radius: 3px 3px 0px 0px;

    @include utilities-dir.themes() {
      background-color: darken(utilities-dir.get-theme(fourth-color), 10%);
    }

  }

  @include utilities-dir.themes() {
    background-color: darken(utilities-dir.get-theme(fourth-color), 10%);
  }

  @include utilities-dir.border-theme(#000);

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 utilities-dir.pixels-to-rem(5px) utilities-dir.pixels-to-rem(5px) utilities-dir.pixels-to-rem(5px);
    flex-direction: column;

    @include utilities-dir.tablet-portrait-size {
      flex-direction: row;
    }

    @include utilities-dir.tablet-landscape-size {
      flex-direction: column;
    }

    @include utilities-dir.laptop-size {
      flex-direction: row;
    }

    @include utilities-dir.desktop-size {
      flex-direction: row;
    }
  }

  li {
    flex: 1 1 40%;

    @include utilities-dir.desktop-size {
      flex: 1 1 30%;
    }

    list-style: none;
    padding: utilities-dir.pixels-to-rem(5px);

    @include utilities-dir.themes() {
      color: utilities-dir.get-theme(text-color);
      background-color: utilities-dir.get-theme(third-color);
    }

    @include utilities-dir.border-theme(#000);

    box-shadow: 0px 1px 2px rgb(13, 19, 61);

    grid-area: results;
  }
}