@use "../utilities/utilities-dir";

#container.sub-page {
  grid-template: "main-content";


  #main-content {
    grid-area: main-content;

    min-height: 90vh;

    padding: utilities-dir.pixels-to-rem(5px);

    @include utilities-dir.themes() {
      color: utilities-dir.get-theme(text-color);
      background-color: utilities-dir.get-theme(third-color);
    }

    @include utilities-dir.border-theme(#000);

    p {
      padding-left: 0;
      padding-right: 0;

      // when img is floated in tablet size the first p does not line up unless padding is removed.
      @include utilities-dir.tablet-landscape-size {
        &:first-of-type {
          padding-top: 0;
        }
      }
    }

    // unset the reset for ul and ol on sub pages.
    ul {
      list-style-type: disc;
      list-style-position: inside;
    }

    ol {
      list-style-type: decimal;
      list-style-position: inside;
    }

    ul ul,
    ol ul {
      list-style-type: circle;
      list-style-position: inside;
      margin-left: 15px;
    }

    ol ol,
    ul ol {
      list-style-type: lower-latin;
      list-style-position: inside;
      margin-left: 15px;
    }
  }


  figure {
    padding: 5px;

    color: #000;
    border: 1px solid #000;
    background-color: #ededed;
    box-shadow: 0px 0px 2px #5b5b5b;

    @include utilities-dir.tablet-landscape-size {
      width: 40%;
      float: left;
      margin-right: 5px;
    }
  }
}