@use "typography";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: typography.$font-stack;

  transition: background-color .2s;
}

p {
  padding: 5px;
}

<<<<<<< HEAD
img {
  max-width: 100%;
=======
img{
  width: 100%;
>>>>>>> 030b64b (added images to sub pages and improved header nav style)
}